/*We are adding new web fonts from google*/

@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Roboto:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

/*Styling the HTML and Body Element*/

html,body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin:0;
    padding:0;
}

.page-heading{
    font-family: 'Fruktur', serif;
    padding:2em;
    background: linear-gradient(90deg, #4b6cb7 10%, #7ebfe4 20%, #182848 70%);
    /*background: radial-gradient(circle at 10%, #333, #333 50%, #eee 75%, #333 75%); */
    color: white;
    text-align: center;
}

.page-heading h1{
    font-size: 3em;
    margin: .3em;
}

.page-heading p{
    font-style: italic;
}

/*Working on Top Navigation*/

nav{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    margin-bottom: 1.5em;
    display: flex;
}

nav a{
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

nav a:hover{
    color: lightsalmon;
}

.align-right{
    /*It will use all the space as the left margin and it will push it over to the right*/
    margin-left: auto;
}

/*Let's design the main part now i.e the Blog's main content*/

main{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    border: 1px solid lightslategray;
    padding: 7px;
}

article{
    padding: .5em 1em;
    flex: 75%;
}

.blog-title{
    background: url("https://images.unsplash.com/photo-1517783755800-0344536f0ec5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=432&q=80") no-repeat;
    background-size: cover;
    height:850px;
    padding:1.5em;
    border: 2px solid rgb(136, 15, 33);
    border-radius: 1em;
}

.blog-title h2{
    margin: 0;
    color:white;
}

.blog-title p{
    color:white;
    font-style: italic;
}

section{
    font-family: 'Playfair',serif;
    line-height: 25px;
}

aside{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1em;
    flex:25%;
}

aside h2{
    color:black;
    margin:0;
}

aside ul{
    margin-top: .5em;
    list-style-type: none;
    padding: 0;
}

aside a{
    text-decoration: none;
    color: rgb(236, 31, 16);
}

aside a:hover{
    color:black;
}

/*Let's design the footer part now i.e the Blog's footer content*/
footer{
    padding: .3em;
    text-align: center;
    background-color: black;
    color:white;
}

/*Responsive Sizing - Removing the sidebar when we go below 960px window*/
@media screen and (max-width:460px){
    body{
        background-color: aqua;
    }
    article{
        flex:100%;
    }
    aside{
        display:none;
    }
}

@media screen and (min-width:460px) and (max-width:760px){
    body{
        background-color: #ffd900;
    }
    article{
        flex:100%;
    }
    aside{
        display:none;
    }
}

@media screen and (min-width:760px) and (max-width:960px){
    body{
        background-color: #e3bfec;
    }
    article{
        flex:100%;
    }
    aside{
        display:none;
    }
}
